
body{
    margin:0;
}
a {
    color: hotpink;
}
h1 {
    font-size: 35px;
    border-bottom: 2px black solid;
    margin: 0px;
    padding: 40px;
    text-align: center;
}
#grid ul {
    border-right: 2px solid black;
    width: 50px;
    margin: 0px;
    padding: 40px;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#article {
    padding-left: 40px;
}
@media(max-width:600px){
    #grid{display: block;}
    #grid ul{border-right: none;
    padding: 25px;}
    #article{border-top: 2px solid black;
    padding-top:40px; }
}
.name {
      color: purple;
}